In [20]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\abhay jha\OneDrive\Desktop\Airbnb\airbnb_v2.csv")
df

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Kaş, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12800,12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access – Beachfront,Kitchen,Wif...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am

In [21]:
df.columns

Index(['Unnamed: 0', 'id', 'name', 'rating', 'reviews', 'host_name', 'host_id',
       'address', 'features', 'amenities', 'safety_rules', 'hourse_rules',
       'img_links', 'price', 'country', 'bathrooms', 'beds', 'guests',
       'toiles', 'bedrooms', 'studios', 'checkin', 'checkout'],
      dtype='object')

In [22]:
# Average price of Airbnb in every country 

#in this type of question we use groupby
#Groupby = We use groupby when we want to divide a large dataset into smaller groups based on some column and then perform calculations like sum, average, or count on each group.

df.groupby('country')['price'].mean().sort_values(ascending = True)

country
 Senegal                   1289.000000
Jordan                     1812.000000
Georgia                    1906.333333
Cuba                       2276.500000
 Bolivia                   2462.000000
                             ...
 Qatar                   112717.500000
 Bahamas                 116397.500000
 United Arab Emirates    119633.653846
 Honduras                140998.500000
 Seychelles              155225.111111
Name: price, Length: 148, dtype: float64

In [23]:
# 2 Top 10 country with maximum number of airbnbs

In [24]:
# to find the country first of all clean the data sets

df['country']

0              Turkey
1              Turkey
2             Georgia
3              Turkey
4              Turkey
             ...
12800     South Korea
12801       Indonesia
12802          Uganda
12803       Indonesia
12804           Japan
Name: country, Length: 12805, dtype: object

In [25]:
# as we see there is duplicate value in country column so now we remove them 

df['country'].unique()

array([' Turkey', ' Georgia', ' Vietnam', ' Thailand', ' South Korea',
       ' India', ' Philippines', ' Japan', ' Lebanon', ' Taiwan',
       ' Israel', 'Turkey', ' Armenia', ' Cyprus', ' Lithuania',
       ' Slovakia', ' Denmark', ' Germany', ' Indonesia', ' Poland',
       ' Romania', ' Greece', ' Ukraine', ' Hungary', ' Albania',
       ' Bulgaria', ' Malaysia', ' Montenegro', ' Slovenia', ' Czechia',
       ' Sweden', ' Austria', ' Croatia', ' Tanzania', ' Italy',
       ' Sri Lanka', 'Philippines', ' Bosnia & Herzegovina', 'Montenegro',
       ' Kenya', ' Serbia', ' Seychelles', ' Finland', ' Norway',
       ' Iceland', ' Greenland', ' United States', ' Canada',
       ' Svalbard & Jan Mayen', 'Iceland', ' France', ' Australia',
       ' Morocco', ' Egypt', ' South Africa', ' Spain',
       ' United Arab Emirates', ' United Kingdom', ' Pakistan',
       'Thailand', ' Nepal', 'Sri Lanka', ' Singapore', ' Cambodia',
       ' Azerbaijan', ' Estonia', ' Latvia', ' Costa Rica',
       ' Netherlands', ' Portugal', ' New Zealand', ' Panama', ' Mexico',
       ' Peru', ' Chile', ' Belize', 'Panama', ' Colombia',
       ' Switzerland', ' Ireland', ' Bolivia', 'India', 'United Kingdom',
       ' Belgium', ' Brazil', ' Mauritius', ' Fiji', ' Maldives',
       'Serbia', ' Hong Kong', ' Myanmar', 'Malaysia', ' Brunei', 'Italy',
       ' Kyrgyzstan', ' Puerto Rico', ' Uruguay', ' Argentina',
       ' Bahamas', ' Oman', ' Kuwait', ' Saudi Arabia', ' Kazakhstan',
       ' Uganda', 'Maldives', ' Qatar', ' Jordan', 'Egypt', ' Bangladesh',
       ' Mongolia', ' Uzbekistan', 'Israel', ' Liechtenstein', ' Rwanda',
       ' Honduras', ' Nicaragua', ' Vanuatu', 'Belize', ' Cayman Islands',
       ' French Polynesia', ' Jamaica', 'Isle of Man', ' Guadeloupe',
       ' Madagascar', 'Jordan', 'Bulgaria', 'Georgia', 'Japan', 'Greece',
       'Portugal', 'Taiwan', 'Saudi Arabia', 'Norway', ' Åland Islands',
       'Latvia', ' Malta', ' Tunisia', ' Congo', ' Cuba', 'Cuba',
       ' Nigeria', ' Kosovo', ' St Martin', ' Guatemala', ' Senegal',
       'Puerto Rico', 'Morocco', ' Namibia'], dtype=object)

In [26]:
# here we have multiple country with same name but some of them have space or some of them have not 

df['country'] = df['country'].str.strip()
df['country'].unique()

# after using this my data set is clear

array(['Turkey', 'Georgia', 'Vietnam', 'Thailand', 'South Korea', 'India',
       'Philippines', 'Japan', 'Lebanon', 'Taiwan', 'Israel', 'Armenia',
       'Cyprus', 'Lithuania', 'Slovakia', 'Denmark', 'Germany',
       'Indonesia', 'Poland', 'Romania', 'Greece', 'Ukraine', 'Hungary',
       'Albania', 'Bulgaria', 'Malaysia', 'Montenegro', 'Slovenia',
       'Czechia', 'Sweden', 'Austria', 'Croatia', 'Tanzania', 'Italy',
       'Sri Lanka', 'Bosnia & Herzegovina', 'Kenya', 'Serbia',
       'Seychelles', 'Finland', 'Norway', 'Iceland', 'Greenland',
       'United States', 'Canada', 'Svalbard & Jan Mayen', 'France',
       'Australia', 'Morocco', 'Egypt', 'South Africa', 'Spain',
       'United Arab Emirates', 'United Kingdom', 'Pakistan', 'Nepal',
       'Singapore', 'Cambodia', 'Azerbaijan', 'Estonia', 'Latvia',
       'Costa Rica', 'Netherlands', 'Portugal', 'New Zealand', 'Panama',
       'Mexico', 'Peru', 'Chile', 'Belize', 'Colombia', 'Switzerland',
       'Ireland', 'Bolivia', 'Belgium', 'Brazil', 'Mauritius', 'Fiji',
       'Maldives', 'Hong Kong', 'Myanmar', 'Brunei', 'Kyrgyzstan',
       'Puerto Rico', 'Uruguay', 'Argentina', 'Bahamas', 'Oman', 'Kuwait',
       'Saudi Arabia', 'Kazakhstan', 'Uganda', 'Qatar', 'Jordan',
       'Bangladesh', 'Mongolia', 'Uzbekistan', 'Liechtenstein', 'Rwanda',
       'Honduras', 'Nicaragua', 'Vanuatu', 'Cayman Islands',
       'French Polynesia', 'Jamaica', 'Isle of Man', 'Guadeloupe',
       'Madagascar', 'Åland Islands', 'Malta', 'Tunisia', 'Congo', 'Cuba',
       'Nigeria', 'Kosovo', 'St Martin', 'Guatemala', 'Senegal',
       'Namibia'], dtype=object)

In [27]:
#3 Host with maximum number of airbnbs listed

df['host_id'].value_counts()

host_id
157378426.0    28
262573392.0    13
45788344.0     13
156292477.0    13
95903847.0     12
               ..
385223440.0     1
90542732.0      1
281370526.0     1
430105736.0     1
441844482.0     1
Name: count, Length: 10375, dtype: int64

In [28]:
df[df['host_id'] == 157378426.0]

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
1190,1190,601816645157829673,Stone Cottage,4.6,5,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,1 bedroom,2 beds,1 bathroom","Kitchen,Wifi,Dedicated workspace,Free on-stree...",...,2852,India,1,2,4,0,1,0,12 00 pm - 10 00 pm,11 00 am
1544,1544,628897626500350545,Blissful cottage in the woods| Tandi,New,2,Shanu,157378426.0,"Tandi, Himachal Pradesh, India","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4564,India,1,1,2,0,1,0,12 00 pm - 10 00 pm,11 00 am
1557,1557,45644216,Beautiful Sunny Cottage|250 meter Trek| Jibhi,4.85,41,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","6 guests,2 bedrooms,3 beds,1 bathroom","Waterfront,Wifi,Dedicated workspace,Free on-st...",...,2281,India,1,3,6,0,2,0,12 00 pm - 10 00 pm,11 00 am
1561,1561,636631343388002719,Entire cottage with a room & attic in Tandi,New,1,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,1 bedroom,1 bed,1 bathroom","Wifi,Dedicated workspace,Free parking on premi...",...,2853,India,1,1,4,0,1,0,12 00 pm - 10 00 pm,11 00 am
1571,1571,614293947503916670,Wooden hut with the Valley view in jibhi,New,2,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,2281,India,1,1,4,0,1,0,12 00 pm - 10 00 pm,11 00 am
1614,1614,616569469785545211,Peaceful Haven in an Apple Orchard,New,1,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,1 bedroom,1 bed,1 bathroom","Waterfront,Wifi,Dedicated workspace,Free parki...",...,3422,India,1,1,4,0,1,0,12 00 pm - 10 00 pm,11 00 am
3080,3080,52505611,A Mudhouse In A Resort| Chhet,New,0,Shanu,157378426.0,"Banjar, Himachal Pradesh, India","4 guests,1 bedroom,1 bed,1 bathroom","Dedicated workspace,Free parking on premises,P...",...,5705,India,1,1,4,0,1,0,12 00 pm - 10 00 pm,NaN
3142,3142,52162851,Vibrant Room In A Beautiful Cottage| Hatu Peak,New,0,Shanu,157378426.0,"Narkanda, Himachal Pradesh, India","5 guests,1 bedroom,2 beds,1 shared bathroom","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,5706,India,1,2,5,0,1,0,12 00 pm - 10 00 pm,11 00 am
5276,5276,578733555164036351,Magnificent Treehouse with Valley View| Tandi,4.73,11,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","3 guests,1 bedroom,2 beds,1 bathroom","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,3422,India,1,2,3,0,1,0,12 00 pm - 10 00 pm,11 00 am
5284,5284,669002665572906395,Picturesque Treehouse | Tandi,New,0,Shanu,157378426.0,"Tandi, Himachal Pradesh, India","4 guests,1 bedroom,2 beds,1 bathroom","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4564,India,1,2,4,0,1,0,After 12 00 pm,NaN
5311,5311,635983225003873129,Cute Rural Getaway Chakrata| Cottage2 R1,New,0,Shanu,157378426.0,"Birmau, Uttarakhand, India","2 guests,1 bedroom,1 bed,1 private bathroom","Dedicated workspace,Free parking on premises,P...",...,4108,India,1,1,2,0,1,0,12 00 pm - 10 00 pm,11 00 am
5338,5338,635988696145613565,Lovely room with the best view in Chakrata,New,1,Shanu,157378426.0,"Birmau, Uttarakhand, India","2 guests,1 bedroom,1 bed,1 private bathroom","Dedicated workspace,Free parking on premises,P...",...,4108,India,1,1,2,0,1,0,After 12 00 pm,NaN
5339,5339,635980238448301348,The most spacious 2BR Cottage in Chakrata| C3R...,New,0,Shanu,157378426.0,"Birmau, Uttarakhand, India","2 guests,1 bedroom,1 bed,1 private bathroom","Dedicated workspace,Free parking on premises,P...",...,4108,India,1,1,2,0,1,0,12 00 pm - 10 00 pm,11 00 am
5347,5347,52118069,Snuggle In Our Valley View Room| Hatu Peak,New,0,Shanu,157378426.0,"Narkanda, Himachal Pradesh, India","3 guests,1 bedroom,1 bed,1 shared bathroom","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,3422,India,1,1,3,0,1,0,12 00 pm - 10 00 pm,11 00 am
5356,5356,607847688839094950,Falcon Nest with a Valley View,4.5,12,Shanu,157378426.0,"Banjar, Himachal Pradesh, India","4 guests,2 bedrooms,2 beds,1 bathroom","Dedicated workspace,Free parking on premises,P...",...,2281,India,1,2,4,0,2,0,12 00 pm - 10 00 pm,11 00 am
5370,5370,52982244,Rustic Cabin Near The Forest| Tandi,New,2,Shanu,157378426.0,"Tandi, Himachal Pradesh, India","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,6846,India,1,1,2,0,1,0,12 00 pm - 3 00 pm,NaN
7506,7506,608314604315148888,Quaint Cottage in Wilderness,4.56,9,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","5 guests,1 bedroom,2 beds,1 bathroom","Waterfront,Kitchen,Wifi,Dedicated workspace,Fr...",...,3422,India,1,2,5,0,1,0,12 00 pm - 10 00 pm,11 00 am
7507,7507,611451448071031676,Wooden hut in Apple Orchard over the river,4.75,12,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,1 bedroom,1 bed,1 bathroom","Wifi,Dedicated workspace,Free parking on premi...",...,2281,India,1,1,4,0,1,0,12 00 pm - 10 00 pm,11 00 am
7509,7509,47823653,Romantic Getaway|Jibhi| Riverside|Duplex,4.61,28,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","5 guests,1 bedroom,2 beds,1 bathroom","Wifi,Dedicated workspace,Free on-street parkin...",...,3422,India,1,2,5,0,1,0,12 00 pm - 11 00 pm,11 00 am
7513,7513,38209396,Spacious Heavenly Hideout|30 Mbps|Stairs|Gener...,4.77,81,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","5 guests,1 bedroom,2 beds,1 bathroom","Garden view,Mountain view,Waterfront,Kitchen,W...",...,2281,India,1,2,5,0,1,0,1 00 pm - 11 00 pm,11 00 am
7516,7516,52981779,Tiny A-Frame Near The Forest| Tandi,New,0,Shanu,157378426.0,"Tandi, Himachal Pradesh, India","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,5705,India,1,1,2,0,1,0,12 00 pm - 10 00 pm,11 00 am
7553,7553,682374742583806642,Adventure Trail Treehouse | Lushal,New,0,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,2 bedrooms,2 beds,1 bathroom","Fire pit,Long-term stays allowed,Unavailable: ...",...,4793,India,1,2,4,0,2,0,NaN,NaN
7630,7630,662657516819710285,Delightful Haven 2-bedroom Treehouse | Tandi,4.8,5,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","5 guests,2 bedrooms,3 beds,1 bathroom","Kitchen,Wifi,Free parking on premises,Private ...",...,4564,India,1,3,5,0,2,0,After 12 00 pm,12 00 pm
7634,7634,611259678839174609,Delightful 2 Bedroom place in Tandi,New,1,Shanu,157378426.0,"Tandi, Himachal Pradesh, India","4 guests,2 bedrooms,2 beds,2 bathrooms","Wifi,Dedicated workspace,Free parking on premi...",...,1140,India,2,2,4,0,2,0,12 00 pm - 10 00 pm,11 00 am
9666,9666,599968756101510300,"Narnia, Treehouse",New,2,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","3 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Dedicated workspace,Free on-stree...",...,3422,India,1,1,3,0,1,0,12 00 pm - 10 00 pm,11 00 am
9785,9785,633212419870607327,Fairytale treehouse in Jibhi,4.91,11,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,1 bedroom,2 beds,1 bathroom","Waterfront,Kitchen,Wifi,Dedicated workspace,Fr...",...,3993,India,1,2,4,0,1,0,12 00 pm - 10 00 pm,11 00 am
11907,11907,608468800282038555,Cottage Amid Lush Greens In Jibhi,New,1,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,2 bedrooms,1 bed,1 bathroom","Wifi,Dedicated workspace,Free on-street parkin...",...,2281,India,1,1,4,0,2,0,12 00 pm - 10 00 pm,11 00 am
11911,11911,616555591704452997,Tranquil Stone Cottage in an Apple Orchard,New,2,Shanu,157378426.0,"Jibhi, Himachal Pradesh, India","4 guests,1 bedroom,1 bed,1 bathroom","Waterfront,Wifi,Dedicated workspace,Free parki...",...,3422,India,1,1,4,0,1,0,12 00 pm - 10 00 pm,11 00 am

In [29]:
# here we check maxium number of hosts in that code then after we were checking if there is dulpicacy or not in that host column 

df.duplicated('id')

0        False
1        False
2        False
3        False
4        False
         ...
12800    False
12801    False
12802    False
12803    False
12804    False
Length: 12805, dtype: bool

In [30]:
df.duplicated('id').sum()

# after using this duplicated functions to check whether there is duplicacy or not

np.int64(0)

In [31]:
df.isnull().sum()

# i this code we were checking there is airbnb or not in dataset 
# we can also delete the unnecessary column from the table so we remove check in ,checkout and unnamed .

Unnamed: 0         0
id                 0
name               0
rating             0
reviews            0
host_name          8
host_id            0
address            0
features           0
amenities          0
safety_rules       0
hourse_rules       0
img_links          0
price              0
country            0
bathrooms          0
beds               0
guests             0
toiles             0
bedrooms           0
studios            0
checkin          800
checkout        2450
dtype: int64

In [32]:
del df['checkin']
del df['checkout']
del df['Unnamed: 0']

# after using delete function we check this there is null value in dataframe or not so we repeat the previous code in next line

In [33]:
df.isnull().sum()

# after using this code we see there is no null value in dataframe

id              0
name            0
rating          0
reviews         0
host_name       8
host_id         0
address         0
features        0
amenities       0
safety_rules    0
hourse_rules    0
img_links       0
price           0
country         0
bathrooms       0
beds            0
guests          0
toiles          0
bedrooms        0
studios         0
dtype: int64

In [34]:
df['host_name'].fillna('Not Available',inplace = True)

C:\Users\abhay jha\AppData\Local\Temp\ipykernel_9540\3315632323.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_name'].fillna('Not Available',inplace = True)

In [35]:
df.isnull().sum()


# after using this two previous code we were seeing that we successfully remove the null value from host name

id              0
name            0
rating          0
reviews         0
host_name       0
host_id         0
address         0
features        0
amenities       0
safety_rules    0
hourse_rules    0
img_links       0
price           0
country         0
bathrooms       0
beds            0
guests          0
toiles          0
bedrooms        0
studios         0
dtype: int64

In [36]:
#4 Most popular country to host an airbnb

df.groupby('country')['id'].count().sort_values(ascending = False).head(1)

country
India    2779
Name: id, dtype: int64

In [37]:
df_1 = pd.read_csv(r"C:\Users\abhay jha\OneDrive\Desktop\Airbnb\airbnb_v2.csv")
df_1.head()

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Kaş, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm

In [38]:
# import pandas as pd
df_2 = pd.read_csv(r"C:\Users\abhay jha\OneDrive\Desktop\Airbnb\airbnb.csv")
df_2.head()

,id,name,rating,reviews,host_name,host_id,address,features,amenities,safety_rules,hourse_rules,img_links,price
0,49849504,Perla bungalov,4.71,64,Entire bungalow hosted by Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...","󹀁,Airbnb's COVID-19 safety practices apply,󱠃,N...","Check-in: Flexible,Check out: 12:00 pm,Pets ar...",https://a0.muscache.com/im/pictures/a5da5cb7-c...,"₹8,078 per night"
1,50891766,Authentic Beach Architect Sheltered Villa with...,New,NaN,Entire villa hosted by Fatih,386223873.0,"Kaş, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...","󹀁,Airbnb's COVID-19 safety practices apply,󱠆,C...","Check-in: 4:00 pm - 11:00 pm,Check out: 10:00 ...",https://a0.muscache.com/im/pictures/61b70855-2...,"₹4,665 per night"
2,50699164,cottages sataplia,4.85,68,Entire cabin hosted by Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...","󹀁,Airbnb's COVID-19 safety practices apply,󱠃,N...","Check-in: After 1:00 pm,Check out: 12:00 pm,Se...",https://a0.muscache.com/im/pictures/miso/Hosti...,"₹5,991 per night"
3,49871422,Sapanca Breathable Bungalow,5.0,13,Entire bungalow hosted by Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...","󹀁,Airbnb's COVID-19 safety practices apply,󱠃,N...","Check-in: After 2:00 pm,Check out: 12:00 pm,No...",https://a0.muscache.com/im/pictures/72e6396e-e...,"₹11,339 per night"
4,51245886,Bungalov Ev 2,New,NaN,Entire bungalow hosted by Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...","󹀁,Airbnb's COVID-19 safety practices apply,󱠆,C...","Check-in: After 2:00 pm,Check out: 12:00 pm,No...",https://a0.muscache.com/im/pictures/73973308-e...,"₹6,673 per night"